/* Especificamos la codificacion de caracteres */
@charset "utf-8";

/* Declaramos nuestras fuentes con sus variaciones */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,800;1,200;1,400;1,800&display=swap');

:root {
    /* Aqui definimos las CUSTOM PROPERTIES */

    /* Coloeres */
    --color-blanco-1: #FFFFFF;
    --color-blanco-2: #F5F5EF;
    --color-negro-1: #000000;
    --color-negro-2: #262626;
    --color-azul: #004AAD;
    --color-rojo: #FF5757;

    --color-primario-1: var(--color-blanco-1);
    --color-primario-2: var(--color-blanco-2);

    --color-secundario-1: var(--color-negro-1);
    --color-secundario-2: var(--color-negro-2);

    --color-1: var(--color-azul);
    --color-2: var(--color-rojo);

    /* Tipografias - Tipo, Estilo y Grosos */
    --tipo-principal: 'Poppins', sans-serif;
    --tipo-bolder: 800;
    --tipo-bolder: 600;
    --tipo-light: 200;
    --tipo-italic: italic;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --color-primario-1: var(--color-negro-1);
        --color-primario-2: var(--color-negro-2);

        --color-secundario-1: var(--color-blanco-1);
        --color-secundario-2: var(--color-blanco-2);

        --color-1: var(--color-rojo);
        --color-2: var(--color-azul);
    }
    header>img {
        width: 15%;
        filter: invert();
    }
    
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    -o-object-fit: cover;
    object-fit: cover;
    /* opcional */
    -o-object-position: center center;
    object-position: center center;
}


/* Reseteamos los enlaces para funcionar como cajas... */
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
    display: inline;
}

/* Quitamos los puntos de los <li> */
li {
    list-style-type: none;
}

/* Configuramos anclas suaves */
html {
    scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
    background-color: var(--color-secundario-1);
    color: var(--blanco);
}

::selection {
    background-color: var(--negro);
    color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--color-secundario-2);
    background-color: var(--color-primario-2);
    /* opcional */
    line-height: 1.4em;
    /* opcional */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    /* opcional */
    font-smooth: always;
    /* opcional */
    -webkit-font-smoothing: antialiased;
    /* opcional */
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3{font-weight: var(--tipo-bolder); font-style: var(--tipo-italic);margin-bottom: 1.4rem;}

h1{font-size: 3em;}

h2{font-size: 2.5em;}

h3{font-size: 2em;}

p{margin-bottom: 1.4rem;}

.pantalla__completa {
    min-height: 100vh;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    background-color: var(--color-primario-2);
    align-items: center;
    justify-content: space-between;
    padding: 1rem 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

header>img {
    width: 15%;
}

.nav>.ul {
    display: flex;
}

.nav>.ul>li {
    top: 0;
    right: 0;
    height: 100%;
    transition: all .45s ease;
    color: var(--color-1);
}

.nav>.ul a {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 1.2rem;
}

.nav>.ul>li:hover {
    color: var(--color-negro-2);
    background-color: var(--color-primario-2);
}

#menu-icono {
    font-size: 2rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 1.5rem;
}

section, footer {
    padding: 160px 15% 120px;
}

.inicio {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide {
    margin-bottom: 20px;
    width: 65%;
}

.boton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .45s ease;
}

.btn span i{
    height: 2em;
    width: 2em;
    background: var(--color-1);
    display: flex;
    align-items: center;
    color: var(--color-primario-2);
    justify-content: center;
    border-radius: 50%;
    font-size: 2em;
    margin-right: 0.5rem;
    transition: all .45s ease;

}

.btn span i:hover{
    background: var(--color-secundario-2);
}

.separador{
    width: 100%;
    background-color: var(--color-1);
}





//* Empieza Manuel Denis 

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.contenedor__top {
    background-color: var(--color-secundario-2);
    color: var(--color-primario-2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top>.section {
    padding: 0.5rem 0;
    background-color: #FF5757;
    width: 100%;
}

span a {
    display: inline;
}

.contenedor__nav {
    background-color: aquamarine;

    top: 0;
    left: 0;
    right: 0;
    display: flex;

}

.logo__nav {
    width: 500px;
}


/*
align-items: center;
justify-content: space-between;
padding: 21px 0;
*/
/